/* Add CSS Styling */
.odd {
    background-color: rgb(255, 167, 167);
    font: Verdana, "DejaVu Sans", sans-serif;
}

.third{
    font-size: 24px;
}

#two{
    color: blue;
    font-size: 32px;
}

#four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}